.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #002147;
  }
  @media screen and (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }